# IDE File
.idea
.vs

# Security File
passwords

# Local debug.txt
debug.txt

# INIT Files
isRun.txt
running.txt
activeUser.txt
build

# Tests
testShablon
testTxt.txt
test.txt
hw

# exe files
go_build_goCmd.exe
