# IDE File
.idea
.vs

# Security File
passwords
trash

# Local debug.txt
trash/debug.txt

# INIT Files
trash/isRun.txt
running.txt
trash/activeUser.txt
build
scripts/stderr.log
scripts/stdout.log

# Tests
testShablon
testTxt.txt
test.txt
hw

# exe files
go_build_goCmd.exe


#GUI
scripts/GUI_test.py
