# IDE Files
.idea
.vs

# Security Files
passwords
trash

# Local debug.txt
debug.txt
trash/debug.txt
bufer
orbix.log

# INIT Files
trash/isRun.txt
running.txt
trash/activeUser.txt
build
scripts/stderr.log
scripts/stdout.log

# Tests
testShablon
testTxt.txt
test.txt
hw
activeUser.txt

# GUI Files(tests)
scripts/GUI_test.py

# Build Files
scripts/dump.rdb
scripts/dist
user.env
go_build_goCmd.exe
scripts/scripts.exe
*.txt
*.log
*.json
!CMakeLists.txt

# Other Scripts
*.py
