
turtle add pendown 0
turtle add setheight 500
turtle add setwidth 500
turtle add speed 100
turtle add setcolor red

turtle add left 78.1
turtle add forward 8.1

turtle add right 18.4
turtle add forward 20.5

turtle add right 27
turtle add forward 26.1

turtle add right 34
turtle add forward 28.4

turtle add right 34.4
turtle add forward 29.7

turtle add right 35.4
turtle add forward 29.2

turtle add right 36.6
turtle add forward 31.2

turtle add right 23.8
turtle add forward 36.5

turtle add right 7.6
turtle add forward 37.6

turtle add left 4
turtle add forward 31

turtle add left 12.6
turtle add forward 19.3

turtle add left 17.3
turtle add forward 6.4

turtle add right 149.8
turtle add forward 6.4

turtle add left 17.3
turtle add forward 19.3

turtle add left 12.6
turtle add forward 31

turtle add left 4
turtle add forward 37.6

turtle add right 7.6
turtle add forward 36.5

turtle add right 23.8
turtle add forward 31.2

turtle add right 36.6
turtle add forward 29.2

turtle add right 35.4
turtle add forward 29.7

turtle add right 34.4
turtle add forward 28.4

turtle add right 34
turtle add forward 26.1

turtle add right 27
turtle add forward 20.5

turtle add right 18.4
turtle add forward 8.1

print red:Heart template loaded. Opening Turtle renderer now. font=2d
turtle process
